.tab-pane, .menu-bar, .context-menu, .tab, .tab-header-background, .tab-content-area, .text-area {
    -fx-background-color: #3c3f41;
}

.tab:selected {
    -fx-background-color: #555555;
}

.split-pane-divider {
    -fx-background-color: #555555;
}

.label, .tab-label {
    -fx-text-fill: #cccccc;
}

.text-area {
    -fx-text-fill: #ffffff;
}

.text-area .content {
    -fx-background-color: #333333;
}

