.border-pane, .split-pane, .tab-pane,
.tab, .tab-header-background, .tab-content-area,
.menu-bar, .context-menu, .text-area, .tool-bar {
    -fx-background-color: #3c3f41;
}

.tab:selected, .button {
    -fx-background-color: #555555;
}

.split-pane-divider {
    -fx-background-color: #555555;
}

.label, .tab-label, .button {
    -fx-text-fill: #cccccc;
}

.text-area {
    -fx-text-fill: #ffffff;
}

.text-area .content {
    -fx-background-color: #333333;
}

